

<ul class="pricing_table">
    <li class="price_block">
        <h3>Starter</h3>
        <div class="price">
            <div class="price_figure">
                <span class="price_number">FREE</span>
            </div>
        </div>
        <ul class="features">
            <li>5 Telechargement /semaine</li>
            <li>2 Clients /mois</li>
            <li>5 Mise en ligne /semaine</li>
            <li>24/7 support par email</li>
        </ul>
    </li>
    <li class="price_block">
        <h3>Basic</h3>
        <div class="price">
            <div class="price_figure">
                <span class="price_number">$9.99</span>
                <span class="price_tenure">per month</span>
            </div>
        </div>
        <ul class="features">
            <li>15 Telechargement /semaine</li>
            <li>5 Clients /mois</li>
            <li>Contacter des professionels</li>
            <li>20 Mise en ligne /semaine</li>
            <li>24/7 support par email</li>
        </ul>
        <div class="footer">
            <a href="#" class="action_button">Buy Now</a>
        </div>
    </li>
    <li class="price_block">
        <h3>Premium</h3>
        <div class="price">
            <div class="price_figure">
                <span class="price_number">$19.99</span>
                <span class="price_tenure">per month</span>
            </div>
        </div>
        <ul class="features">
            <li>50 Telechargement /semaine</li>
            <li>Contacter des professionels</li>
            <li>10 Clients /mois</li>
            <li>40 Mise en ligne /semaine</li>
            <li>24/7 support par email</li>
        </ul>
        <div class="footer">
            <a href="#" class="action_button">Buy Now</a>
        </div>
    </li>
    <li class="price_block">
        <h3>A vie</h3>
        <div class="price">
            <div class="price_figure">
                <span class="price_number">399$</span>
            </div>
        </div>
        <ul class="features">
            <li>Telechargement ilimité</li>
            <li>Contacter des professionels</li>
            <li> Clients ilimité</li>
            <li> Mise en ligne ilimité</li>
            <li>24/7 support par email</li>
        </ul>
        <div class="footer">
            <a href="#" class="action_button">Buy Now</a>
        </div>
    </li>
</ul>

