page-home {
  .exSearch{
    text-align: center;
    font-size: 8px;
    color: black;
  }
  h3{
    color: #f4f4f4;
    text-align: center;
  }
  $primary: #ae99a5;
  .banner{
    background-image: url(http://kb4images.com/images/blur-wallpaper/37017399-blur-wallpaper.jpg);
  }
  h1{
    text-align: center;
  }
}
