
<div class="skillBody">
    <div class="page-wrap">

        <h2>With Divs</h2>

        <div class="skill-bar-container">
          <span class="skill-name">Something</span>
          <span class="skill-percent">100%</span>
          <span class="skill-bar level5"></span>
        </div>

        <div class="skill-bar-container">
          <span class="skill-name">Something</span>
          <span class="skill-percent">80%</span>
          <span class="skill-bar level4"></span>
        </div>

        <div class="skill-bar-container">
          <span class="skill-name">Something</span>
          <span class="skill-percent">60%</span>
          <span class="skill-bar level3"></span>
        </div>

        <div class="skill-bar-container">
          <span class="skill-name">Something</span>
          <span class="skill-percent">40%</span>
          <span class="skill-bar level2"></span>
        </div>

        <div class="skill-bar-container">
          <span class="skill-name">Something</span>
          <span class="skill-percent">20%</span>
          <span class="skill-bar level1"></span>
        </div>

      </div>
</div>
